<div class="stories__story--container">
  <a href="{{link}}">
    <div class="stories__story--headline">{{headline}}</div>
    <div class="stories__story--image"><img class="stories__story--image" src="{{image}}" alt="{{headline}}"></div>
  </a>
  <div class="stories__story--blurb">{{blurb}}</div>
</div>